[submodule "addons/FracturalCommons"]
	path = addons/FracturalCommons
	url = https://github.com/fractural/fracturalcommons
	branch = release
[submodule "addons/GodotNakamWebRTCMono"]
	path = addons/GodotNakamaWebRTCMono
	url = https://github.com/Fractural/GodotNakamaWebRTCMono
	branch = release
